---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "ALBERTO";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---
<BaseLayout pageTitle={pageTitle}>
  SUPER CAZZO

  {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
</BaseLayout>
