---
import Social from "./Social.astro"
---
<footer>
 <p>Follow me on the socialz</p>
 <Social platform="twitter" username="sandropertini" />
 <script>
  import "../scripts/menu.js"  
 </script>
</footer>
